---
layout: default
---
<div class="row app-title">
  <div class="col s6">
    <h4>Calendário</h4>
  </div>
  <div class="col s6">
    <p class="right">
      <a class="button-collapse" data-activates="app-region"><b>{{ page.region }}</b></a>
      <a class="btn-floating button-collapse light-blue lighten-1 white-text" data-activates="app-region"><i class="material-icons">place</i></a>
    </p>
  </div>
</div>
<div class="row">
  <div class="col s12 no-padding hide-on-med-and-up">
    <iframe src="https://calendar.google.com/calendar/embed?showTitle=0&amp;showPrint=0&amp;showTabs=0&amp;showCalendars=0&amp;mode=AGENDA&amp;height=600&amp;wkst=1&amp;bgcolor=%23FFFFFF&amp;src={{ page.calendar }}%40group.calendar.google.com&amp;color=%23AB8B00&amp;ctz={{ page.ctz }}" style="position: absolute; border-width:0; width: 100%" frameborder="0" scrolling="no"></iframe>
  </div>
  <div class="col s12 no-padding hide-on-small-only">
    <iframe src="https://calendar.google.com/calendar/b/2/embed?showTitle=0&amp;showPrint=0&amp;showCalendars=0&amp;height=600&amp;wkst=1&amp;bgcolor=%23FFFFFF&amp;src={{ page.calendar }}%40group.calendar.google.com&amp;color=%23182C57&amp;ctz={{ page.ctz }}" style="position: absolute; border-width:0; width: 100%" frameborder="0" scrolling="no"></iframe>
  </div>
</div>
<ul id="app-region" class="side-nav">
    <li><h5 class="center">Trocar região</h5></li>
    <li><div class="divider"></div></li>
    <li><a href="change.html?r=nacional">Nacional</a></li>
    <li><div class="divider"></div></li>
    <li><a href="change.html?r=rondonia">Rondônia</a></li>
    <li><a href="change.html?r=sao-paulo">São Paulo</a></li>
  </ul>
<script>
  window.onload = function() {
    $(function(){
      header = $('.navbar-fixed').height() + $('.app-title').height() + 20;
      $('iframe').css('height', 'calc(100% - '+header+'px)')
      localStorage.setItem("lastRegion", "{{ page.slug }}");
    });
  }
</script>
